PORT = 3038

DATABASE_HOST=localhost
DATABASE_USER=root
DATABASE_PORT=3306
DATABASE_PASSWORD=""
DATABASE_NAME=sem

REACT_APP_RCP_URL = 
PROVIDER_KEY = 
PROVIDER_ADRESS= 
CHAIN_PROVIDER_ADDRESS = 
MAINNET_INFURA_URL = 
ETHERFACE_URL = 

API_KEY1 = 
API_KEY2 = 
API_KEY3 = 
API_KEY_ADRESS = 
BSCSCAN_API_URL = 

REDIS_HOST = 127.0.0.1
REDIS_PORT = 6379